%script#tmpl-autocomplete-medicine-suggestion{ type: "x-tmpl-mustache" }
  .medicine-suggestion-name
    {{{ name }}}
  .medicine-suggestion-instructions.text-muted
    %small
      {{{ instructions }}}
