%script#tmpl-autocomplete-medicine-suggestion{ type: "x-tmpl-mustache" }
  .row
    .col-md-12
      {{{ name }}}
  .row
    .col-md-12.text-muted{ style: "padding-left: 25px;" }
      %small
        {{{ instructions }}}
