- if content.present?
  .row
    .col-md-2.text-right.hidden-xs
      %span.semi-strong.text-muted
        = label
    .col-md-2.visible-xs
      %span.semi-strong.text-muted
        = label
    .col-md-10
      %span.semi-strong
      = content
