.hint
  .hint-box
    .hint-icon
      %i.fa.fa-user-md
    .hint-content
      .hint-title= @patient.name
      .hint-item
        .row
          .col-xs-1
            %span.text-primary
              %i.fa.fa-external-link
          .col-xs-10
            %span
              %a#show(href="") Historia
      .hint-item
        - if @patient.anamnesis.allergies?
          .row
            .col-xs-1
              %span.text-danger
                %i.fa.fa-circle
            .col-xs-10
              %span= @patient.anamnesis.allergies
        - if @patient.anamnesis.observations?
          .row
          .row
            .col-xs-1
              %span.text-warning
                %i.fa.fa-circle
            .col-xs-10
              %span= @patient.anamnesis.observations
        - if @patient.anamnesis.personal_history?
          .row
            .col-xs-1
              %span.text-info
                %i.fa.fa-circle
            .col-xs-10
              %span= @patient.anamnesis.personal_history
