.modal.fade#certificates{ tabindex: "-1", role: "dialog" }
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{ type: "button",
                       "data-dismiss": "modal",
                       "aria-label": "Close" }
          %span{ "aria-hidden": "true" } &times;
        %h4.modal-title
          = @patient.name
          %small
            #{@patient.age} años
            = gender_tag(@patient)
      .modal-body
        .form-horizontal
          .form-group
            %label.col-sm-2.control-label{ for: "certificate" } Certificado
            .col-md-6
              %select.form-control.input-sm#certificate
                %option{ value: "attendance" } Asistencia
                %option{ value: "surgery" } Cirugía
                %option{ value: "specialty" } Especialidad ORL
                %option{ value: "fracture" } Fractura de huesos propios nasales
                %option{ value: "rest" } Reposo médico
                %option{ value: "simple" } Simple
              %em.text-muted Selecciona un certificado
          .attendance-controls{ style: "display:none" }
            .form-group
              %label.col-sm-2.control-label{ for: "certificate_start_time" } Inicio
              .col-md-6
                %input.form-control.input-sm#certificate_start_time{ type: "text" }
                %em.text-muted Hora de inicio de consulta
            .form-group
              %label.col-sm-2.control-label{ for: "certificate_end_time" } Fin
              .col-md-6
                %input.form-control.input-sm#certificate_end_time{ type: "text" }
                %em.text-muted Hora de fin de consulta

          .rest-controls{ style: "display:none" }
            .form-group
              %label.col-sm-2.control-label{ for: "certificate_rest_time" } Inicio
              .col-md-6
                %input.form-control.input-sm#certificate_rest_time{ type: "number" }
                %em.text-muted Tiempo de reposo médico (en horas)

          .surgery-controls{ style: "display:none" }
            .form-group
              %label.col-sm-2.control-label{ for: "certificate_surgical_treatment" } Tratamiento
              .col-md-6
                %input.form-control.input-sm#certificate_surgical_treatment{ type: "text" }
                %em.text-muted Tratamiento quirúrgico
            .form-group
              %label.col-sm-2.control-label{ for: "certificate_surgery_tentative_date" } Fecha
              .col-md-6
                %input.form-control.input-sm#certificate_surgery_tentative_date{ type: "text" }
                %em.text-muted Fecha tentativa de la cirugía.
            .form-group
              %label.col-sm-2.control-label{ for: "certificate_surgery_cost" } Costo
              .col-md-6
                %input.form-control.input-sm#certificate_surgery_cost{ type: "number" }
                %em.text-muted Costo de la cirugía (en dólares)
      .modal-footer
        %button.btn.btn-default{ "data-dismiss": "modal" } Cerrar
        = link_to "Descargar certificado", download_certificates_path(consultation_id: @consultation.id, certificate_type: "simple"), class: 'btn btn-primary'
