.modal.fade#change-price{ tabindex: "-1", role: "dialog" }
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{ type: "button",
                       "data-dismiss": "modal",
                       "aria-label": "Close" }
          %span{ "aria-hidden": "true" } &times;
        %h4.modal-title
          %span.text-primary
            %i.fa.fa-list
          = @patient.name
          %small
            #{@patient.age.years} años
            = gender_tag(@patient)
      .modal-body
        .row-fluid
          .form-group.col-md-12
            .text-danger#change-price__errors{ style: "display:none" }
              Por favor corrige los siguientes errores
              #change-price__errors--body

        .form-horizontal
          .form-group
            %label.col-sm-2.control-label{ for: "changed_price" } Valor
            .col-md-6
              %input.form-control.input-lg#changed_price{ type: "text", value: @consultation.price }
              %em.text-muted Valor de la consulta
          .form-group
            %label.col-sm-2.control-label{ for: "change_price_reason" } Motivo de cambio
            .col-md-6
              %textarea.form-control.input-sm#change_price_reason{ type: "text" }
              %em.text-muted Indique el motivo por el cual cambia el valor de la consulta.

      .modal-footer
        %button.btn.btn-default{ "data-dismiss": "modal" } Cerrar
        %button.btn.btn-primary#save-price{ "data-dismiss": "modal" }
          Cambiar Valor de Consulta

%script#tmpl-price-change-errors{ type: "x-tmpl-mustache" }
  {{#errors}}
  %li {{.}}
  {{/errors}}
