.modal.fade#certificates{ tabindex: "-1", role: "dialog" }
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{ type: "button",
                       "data-dismiss": "modal",
                       "aria-label": "Close" }
          %span{ "aria-hidden": "true" } &times;
        %h4.modal-title
          = @patient.name
          %small
            #{@patient.age} años
            = gender_tag(@patient)
      .modal-body
        .form-horizontal
          .form-group
            %label.col-sm-2.control-label{ for: "certificate" } Certificado
            .col-md-6
              %select.form-control.input-sm#certificate
                %option{ value: "simple" } Simple
                %option{ value: "attendance" } Asistencia
                %option{ value: "specialty" } Especialidad ORL
              %em.text-muted Selecciona un certificado
          .time-controls{ style: "display:none" }
            .form-group
              %label.col-sm-2.control-label{ for: "certificate_start_time" } Inicio
              .col-md-6
                %input.form-control.input-sm#certificate_start_time{ type: "text" }
                %em.text-muted Hora de inicio de consulta
            .form-group
              %label.col-sm-2.control-label{ for: "certificate_end_time" } Fin
              .col-md-6
                %input.form-control.input-sm#certificate_end_time{ type: "text" }
                %em.text-muted Hora de fin de consulta

      .modal-footer
        %button.btn.btn-default{ "data-dismiss": "modal" } Cerrar
        = link_to "Descargar certificado", download_certificates_path(consultation_id: @consultation.id, certificate_type: "simple"), class: 'btn btn-primary'
