.modal.fade#change-payment{ tabindex: "-1", role: "dialog" }
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{ type: "button",
                       "data-dismiss": "modal",
                       "aria-label": "Close" }
          %span{ "aria-hidden": "true" } &times;
        %h4.modal-title
          %span.text-primary
            %i.fa.fa-list
          = @patient.name
          %small
            #{@patient.age.years} años
            = gender_tag(@patient)
      .modal-body
        .row-fluid
          .form-group.col-md-12
            .text-danger#change-payment__errors{ style: "display:none" }
              Por favor corrige los siguientes errores
              #change-payment__errors--body

        .form-horizontal
          .form-group
            %label.col-sm-2.control-label{ for: "updated-payment" } Valor
            .col-md-6
              %input.form-control.input-lg#updated-payment{ type: "text", value: @consultation.payment }
              %span#updated-payment-hint.text-muted Valor de la Consulta
          .form-group
            %label.col-sm-2.control-label{ for: "updated-payment-reason" } Motivo de cambio
            .col-md-6
              %textarea.form-control.input-sm#updated-payment-reason{ type: "text" }
              %span.text-muted Indique el motivo por el cual cambia el valor de la consulta.
          .form-group
            %input{ type: "hidden", id: "payment_change_type" }

      .modal-footer
        %button.btn.btn-default{ "data-dismiss": "modal" } Cerrar
        %button.btn.btn-primary#save-payment{ "data-dismiss": "modal" }
          Actualizar

%script#tmpl-payment-change-errors{ type: "x-tmpl-mustache" }
  {{#errors}}
  %li {{.}}
  {{/errors}}
