.modal.fade#certificates{ tabindex: "-1", role: "dialog" }
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{ type: "button",
                       "data-dismiss": "modal",
                       "aria-label": "Close" }
          %span{ "aria-hidden": "true" } &times;
        %h4.modal-title
          %span.text-primary
            %i.fa.fa-certificate
          = @patient.name
          %small
            #{@patient.age.years} años
            = gender_tag(@patient)
      .modal-body
        .form-horizontal
          .form-group
            %label.col-sm-2.control-label{ for: "certificate" } Certificado
            .col-md-6
              %select.form-control.input-sm.selectpicker#certificate{ "data-live-search": "true" }
                %option{ value: "attendance",            "data-tokens": "attendance"            } ASISTENCIA
                %option{ value: "audiometry",            "data-tokens": "audiometry"            } AUDIOMETRÍA
                %option{ value: "surgery",               "data-tokens": "surgery"               } CIRUGÍA
                %option{ value: "consent",               "data-tokens": "consent"               } CONSENTIMIENTO
                %option{ value: "strange_body",          "data-tokens": "strange_body"          } CUERPO EXTRAÑO
                %option{ value: "specialty",             "data-tokens": "specialty"             } ESPECIALIDAD ORL
                %option{ value: "epistaxis",             "data-tokens": "epistaxis"             } EPISTAXIS
                %option{ value: "fracture",              "data-tokens": "fracture"              } FRACTURA DE HUESOS PROPIOS NASALES
                %option{ value: "ffaa",                  "data-tokens": "ffaa"                  } FUERZAS ARMADAS
                %option{ value: "nasophibroscopy",       "data-tokens": "nasophibroscopy"       } NASOFIBROSCOPÍA
                %option{ value: "audiological",          "data-tokens": "audiological"          } INFORME AUDIOLÓGICO
                %option{ value: "laryngoscopy",          "data-tokens": "laryngoscopy"          } INFORME DE LARINGOSCOPÍA
                %option{ value: "consent_intratympanic", "data-tokens": "consent_intratympanic" } INTRATIMPÁNICA
                %option{ value: "oea",                   "data-tokens": "oea"                   } OEA
                %option{ value: "proforma",              "data-tokens": "proforma"              } PROFORMA
                %option{ value: "protocol",              "data-tokens": "protocol"              } PROTOCOLO Y EPICRISIS
                %option{ value: "rest",                  "data-tokens": "rest"                  } REPOSO
                %option{ value: "rx_spn",                "data-tokens": "rx_spn"                } RX SPN
                %option{ value: "simple",                "data-tokens": "simple"                } SIMPLE
                %option{ value: "vertiginous_syndrome",  "data-tokens": "vertiginous_syndrome"  } SÍNDROME VERTIGINOSO
              %em.text-muted Selecciona un certificado
          .time-controls{ style: "display:none" }
            .form-group
              %label.col-sm-2.control-label{ for: "certificate_start_time" } Inicio
              .col-md-6
                %input.form-control.input-sm#certificate_start_time{ type: "text" }
                %em.text-muted Hora de inicio de consulta
            .form-group
              %label.col-sm-2.control-label{ for: "certificate_end_time" } Fin
              .col-md-6
                %input.form-control.input-sm#certificate_end_time{ type: "text" }
                %em.text-muted Hora de fin de consulta

          .rest-controls{ style: "display:none" }
            .form-group
              %label.col-sm-2.control-label{ for: "certificate_rest_time" } Inicio
              .col-md-6
                %input.form-control.input-sm#certificate_rest_time{ type: "number" }
                %em.text-muted Tiempo de reposo médico (en horas)

          .proforma-controls{ style: "display:none" }
            .form-group
              %label.col-sm-2.control-label{ for: "certificate_surgical_treatment" } Tratamiento
              .col-md-6
                %input.form-control.input-sm#certificate_surgical_treatment{ type: "text" }
                %em.text-muted Tratamiento quirúrgico
            .form-group
              %label.col-sm-2.control-label{ for: "certificate_surgery_tentative_date" } Fecha
              .col-md-6
                %input.form-control.input-sm#certificate_surgery_tentative_date{ type: "text" }
                %em.text-muted Fecha tentativa de la cirugía.
            .form-group
              %label.col-sm-2.control-label{ for: "certificate_surgery_cost" } Costo
              .col-md-6
                %input.form-control.input-sm#certificate_surgery_cost{ type: "number" }
                %em.text-muted Costo de la cirugía (en dólares)
      .modal-footer
        %button.btn.btn-default{ "data-dismiss": "modal" } Cerrar
        = link_to t('certificates.button.download'),
          download_consultations_documents_path(consultation_id: @consultation.id, certificate_type: "simple"),
          class: 'btn btn-primary',
          data: { turbolinks: false }
