.modal.fade#consultation{ tabindex: "-1", role: "dialog" }
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{ type: "button",
                       "data-dismiss": "modal",
                       "aria-label": "Close" }
          %span{ "aria-hidden": "true" } &times;
        %h4.modal-title
      .modal-body
      .modal-footer
        %button.btn.btn-default{ "data-dismiss": "modal" } Cerrar
        %button.btn.btn-primary#prev{ "data-dismiss": "modal", "data-consultation-id": "" }
          %i.fa.fa-chevron-left{ "aria-hidden": "true" }
          Anterior
        %button.btn.btn-primary#next{ "data-dismiss": "modal", "data-consultation-id": "" }
          Siguiente
          %i.fa.fa-chevron-right{ "aria-hidden": "true" }

%script#consultation-header{ type: "x-tmpl-mustache" }
  .row
    .col-md-8
      {{patient.name}}
      %small
        {{patient.age.years}} años

        {{#patient.isMale}}
        %i.fa.fa-male
        {{/patient.isMale}}

        {{^patient.isMale}}
        %i.fa.fa-female
        {{/patient.isMale}}
    .col-md-3.text-right
      %small
        {{current}} de {{total}}
    .col-md-1



%script#consultation-body{ type: "x-tmpl-mustache" }
  %input#current-consultation{ type: "hidden", value: "{{id}}" }
  .row.consultation-date
    .col-md-3
      %strong Fecha:
    .col-md-9
      %span.semi-strong {{date}}
  {{#hasNextAppointment}}
  .row.consultation-next-appointment
    .col-md-3
      %strong Próxima cita:
    .col-md-9
      %span.semi-strong {{next_appointment}}
  {{/hasNextAppointment}}
  .row.consultation-reason
    .col-md-3
      %strong Enfermedad:
    .col-md-9
      {{ongoing_issue}}
  %br

  %table.table.table-striped.table-condensed
    %thead
      %tr.tr-caution
        %th.col-md-12 Diagnóstico
    %tbody
      {{#hasDiagnoses}}
      {{#diagnoses}}
      %tr
        %td {{disease_code}} {{description}}
      {{/diagnoses}}
      {{/hasDiagnoses}}
      {{^hasDiagnoses}}
      %tr
        %td NO HAY DIAGNÓSTICO.
      {{/hasDiagnoses}}

  %table.table.table-striped.table-condensed
    %thead
      %tr.tr-advice
        %th.col-md-6 Receta
        %th.col-md-6 &nbsp;
    %tbody
      {{#hasPrescriptions}}
      {{#prescriptions}}
      %tr
        %td {{inscription}}
        %td {{subscription}}
      {{/prescriptions}}
      {{/hasPrescriptions}}
      {{^hasPrescriptions}}
      %tr
        %td{ colspan: 2 } NO HAY RECETA.
      {{/hasPrescriptions}}
