.modal.fade#consents{ tabindex: "-1", role: "dialog" }
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{ type: "button",
                       "data-dismiss": "modal",
                       "aria-label": "Close" }
          %span{ "aria-hidden": "true" } &times;
        %h4.modal-title
          %span.text-primary
            %i.fa.fa-list
          = @patient.name
          %small
            #{@patient.age.years} años
            = gender_tag(@patient)
      .modal-body
        .form-horizontal
          .form-group
            %label.col-sm-2.control-label{ for: "consent" } Consentimiento
            .col-md-6
              %select.form-control.input-sm.selectpicker#consent{ "data-live-search": "true" }
                %option{ value: "adenoidectomy",                    "data-tokens": "adenoidectomy"                    } ADENOIDECTOMÍA
                %option{ value: "tonsillectomy",                    "data-tokens": "tonsillectomy"                    } AMIGDALECTOMÍA
                %option{ value: "maxillary_antrostomy",             "data-tokens": "maxillary_antrostomy"             } ANTROSTOMÍA MAXILAR
                %option{ value: "bichectomy",                       "data-tokens": "bichectomy"                       } BICHECTOMÍA
                %option{ value: "biopsy",                           "data-tokens": "biopsy"                           } BIOPSIA
                %option{ value: "blepharoplasty",                   "data-tokens": "blepharoplasty"                   } BLEFAROPLASTIA SUPERIOR E INFERIOR
                %option{ value: "botox",                            "data-tokens": "botox"                            } BOTOX
                %option{ value: "cens",                             "data-tokens": "cens"                             } CENS PARA EXERÉSIS DE MASA NASAL
                %option{ value: "mastoiditis",                      "data-tokens": "mastoiditis"                      } CIRUGÍA MASTOIDITIS
                %option{ value: "cholestheatoma",                   "data-tokens": "cholestheatoma"                   } COLESTEATOMA
                %option{ value: "consent",                          "data-tokens": "consent"                          } CONSENTIMIENTO ESTÉTICA
                %option{ value: "covid",                            "data-tokens": "covid"                            } COVID
                %option{ value: "endonasal_dacryocystorhinostomy",  "data-tokens": "endonasal_dacryocystorhinostomy"  } DACRIOCISTORRINOSTOMÍA ENDONASAL
                %option{ value: "eustachian_tube_balloon_dilation", "data-tokens": "eustachian_tube_balloon_dilation" } DILATACIÓN DE TROMPA DE EUSTAQUIO
                %option{ value: "epistaxis",                        "data-tokens": "epistaxis"                        } EPISTAXIS
                %option{ value: "exeresis",                         "data-tokens": "exeresis"                         } EXÉRESIS DE QUISTE Y FÍSTULAS CERVICALES
                %option{ value: "extraction",                       "data-tokens": "extraction"                       } EXTRACCIÓN DE CUERPO EXTRAÑO NASAL
                %option{ value: "fistula",                          "data-tokens": "fistula"                          } FÍSTULA PERIAURICULAR
                %option{ value: "auricular_hematoma",               "data-tokens": "auricular_hematoma"               } HEMATOMA DE PABELLÓN AURICULAR
                %option{ value: "septal_hematoma",                  "data-tokens": "septal_hematoma"                  } HEMATOMA SEPTAL
                %option{ value: "laryngoscopy",                     "data-tokens": "laryngoscopy"                     } LARINGOSCOPÍA DIRECTA
                %option{ value: "myringoplasty",                    "data-tokens": "myringoplasty"                    } MIRINGOPLASTIA
                %option{ value: "osteoma",                          "data-tokens": "osteoma"                          } OSTEOMA
                %option{ value: "otoplasty",                        "data-tokens": "otoplasty"                        } OTOPLASTIA MÁS RINOPLASTIA
                %option{ value: "parotidectomy",                    "data-tokens": "parotidectomy"                    } PAROTIDECTOMÍA DEL LADO AFECTO
                %option{ value: "sinonasal_polyposis",              "data-tokens": "sinonasal_polyposis"              } POLIPOSIS NASOSINUSAL
                %option{ value: "ranula",                           "data-tokens": "ranula"                           } RÁNULA
                %option{ value: "reduction",                        "data-tokens": "reduction"                        } REDUCCION DE FRACTURA NASAL
                %option{ value: "nose_touch_up",                    "data-tokens": "nose_touch_up"                    } RETOQUE NASAL
                %option{ value: "functional_rhinoplasty",           "data-tokens": "functional_rhinoplasty"           } SEPTORRINOPLASTIA FUNCIONAL
                %option{ value: "secondary_rhinoplasty",            "data-tokens": "secondary_rhinoplasty"            } RINOPLASTIA SECUNDARIA CON COSTILLA
                %option{ value: "septoplasty",                      "data-tokens": "septoplasty"                      } SEPTOPLASTIA
                %option{ value: "sinusitis_treatment",              "data-tokens": "sinusitis_treatment"              } TRATAMIENTO DE SINUSITIS
                %option{ value: "benign_tumors",                    "data-tokens": "benign_tumors"                    } TUMURACIONES BENIGNAS DEL PABELLON AURICULAR Y CAE
              %em.text-muted Selecciona un consentimiento informado

      .modal-footer
        %button.btn.btn-default{ "data-dismiss": "modal" } Cerrar
        = link_to t('consents.button.download'),
          download_consultations_documents_path(consultation_id: @consultation.id, certificate_type: "bichectomy", path: 'consents'),
          class: 'btn btn-primary',
          data: { turbolinks: false }
