.modal.fade#payment-changes{ tabindex: "-1", role: "dialog" }
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{ type: "button",
                       "data-dismiss": "modal",
                       "aria-label": "Close" }
          %span{ "aria-hidden": "true" } &times;
        %h4.modal-title
          %span#payment-changes-title
            Valores Pagados
          %small
            Historial de Cambios
      .modal-body
        .row-fluid
          .form-group.col-md-12
            #payment-changes--content

      .modal-footer
        %button.btn.btn-default{ "data-dismiss": "modal" } Cerrar

%script#tmpl-payment-changes{ type: "x-tmpl-mustache" }
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th.col-md-3 Doctor
        %th.col-md-4 Motivo
        %th.col-md-2 Cambio
        %th.col-md-3 Fecha
    %tbody
      {{#paymentChanges}}
      %tr
        %td {{userName}}
        %td {{reason}}
        %td $ {{previousPayment}} → $ {{updatedPayment}}
        %td {{date}}
      {{/paymentChanges}}
