%script#tmpl-autocomplete-patient-suggestion{ type: "x-tmpl-mustache" }
  .patient-suggestion-name
    %span.patient-suggestion-label {{{ name }}}
    %span.patient-suggestion-age
      {{ age }} años
      {{# isMale }}
      %i.fa.fa-male.patient-suggestion-male
      {{/ isMale }}
      {{^ isMale }}
      %i.fa.fa-female.patient-suggestion-female
      {{/ isMale }}
  .patient-suggestion-id
    {{{ identityCardNumber }}}
