/* https://github.com/devbridge/jQuery-Autocomplete#styling */
.autocomplete-suggestions {
  margin: 0.125rem 0 0;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 0.45rem;
  overflow: auto;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 40%);
}

.autocomplete-suggestion {
  padding: 8px 12px;
  overflow: hidden;
  cursor: pointer;
  border-bottom: 1px solid #f0f0f0;
}

.autocomplete-suggestion:last-child {
  border-bottom: none;
}

.autocomplete-suggestion strong {
  color: #2196f3;
}

.autocomplete-suggestion .text-muted {
  margin-top: 2px;
  font-size: 12px;
  line-height: 1.4;
}

.autocomplete-selected {
  color: #fff;
  text-decoration: none;
  background-color: #007bff;
}

.autocomplete-selected .text-muted {
  color: rgba(255, 255, 255, 0.8);
}

.autocomplete-selected small {
  color: #fff;
}

.autocomplete-selected strong {
  color: #fff;
}

.medicine-suggestion-name {
  font-weight: 500;
  line-height: 1.4;
}

.medicine-suggestion-instructions {
  padding-left: 8px;
  line-height: 1.3;
}
