body {
  padding-top: 105px;
  padding-bottom: 23px;
}

input, textarea, select {
  text-transform: uppercase;
}

.align-right {
  margin-right: 0;
}

.tr-caution {
  background-color: #E55934;
  border-color: #E55934;
  color: #FFF;
}

.tr-advice {
  background-color: #722340;
  border-color: #722340;
  color: #FFF;
}

.panel > .panel-body > .row-fluid:last-child > .form-group {
  padding-bottom: 8px;
}

.panel-primary > .panel-heading {
  background-color: #5BC0DE;
  border-color: #5BC0DE;
}

.panel-success > .panel-heading {
  background-color: #5CB85C;
  border-color: #5CB85C;
}

.panel-info > .panel-heading {
  background-color: #685D9F;
  border-color: #685D9F;
}

.panel-warning > .panel-heading {
  background-color: #F0AD4E;
  border-color: #F0AD4E;
}

.panel-danger > .panel-heading {
  background-color: #F45B69;
  border-color: #F45B69;
}

.panel-caution > .panel-heading {
  background-color: #E55934;
  border-color: #E55934;
  color: #FFF;
}

.panel-advice > .panel-heading {
  background-color: #722340;
  border-color: #722340;
  color: #FFF;
}

.colored {
  color: #666666;
}

.semi-strong {
  font-weight: 500;
}

.panel > .panel-heading {
  cursor: pointer; cursor: hand;
}

.modal-header {
  padding: 15px 15px 0 15px;
}

.modal-body {
  padding: 10px 15px 0 15px;
}

.pagination {
  margin: 0;
}

.consultation-date,
.consultation-reason {
  padding-left: 8px;
}

.autocomplete-suggestions {
  border: 1px solid #999;
  background: #FFF;
  overflow: auto;
}

.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}

.autocomplete-selected {
  background: #F0F0F0;
}

.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399FF;
}

.autocomplete-group {
  padding: 2px 5px;
}

.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000;
}

.hint {
  display: block;
  position: fixed;
  top: 101px;
  right: 0;
  overflow: hidden;
  z-index: 200;
  padding: 4px 0 4px 0;
}

.hint-box {
  margin-right: -220px;
  position: relative;
  z-index: 200;
  transition-duration: 0.4s;
}

.hint-box-show {
  margin-right: 0;
}

.hint-icon {
  background: #1ab394;
  position: absolute;
  padding: 7px 10px 7px 13px;
  border-radius: 20px 0 0 20px;
  font-size: 16px;
  top: 0;
  left: 0;
  width: 40px;
  color: #fff;
  cursor: pointer;
}

.hint-content {
  width: 220px;
  margin-left: 40px;
  background: #fafafa;
  border-color: #dddddd;
  border-bottom-left-radius: 2px;
  -moz-box-shadow: 0 1px 4px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 4px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  padding-bottom: 8px;
}

.hint-content .hint-title {
  background: #efefef;
  text-transform: uppercase;
  font-weight: 500;
  display: block;
  padding: 10px 15px 10px 25px;
  font-size: 12px;
  cursor: pointer;
}

.hint-item {
  padding: 10px 30px;
  display: block;
}

.hint-item > .row > .col-xs-1 {
  padding-right: 0;
  padding-left: 8px;
}

.hint-item > .row > .col-xs-10 {
  padding-right: 0;
  padding-left: 15px;
  font-weight: 500;
}

.hint-link:hover {
  text-decoration: none;
}

.progress {
  margin-bottom: 0;
  cursor: pointer;
}

.progress-hint {
  display: none;
  padding-bottom: 7px;
  cursor: pointer;
}

.text-center > .text-mute {
  padding-left: 5px;
  font-weight: 500;
}

.prescriptions {
  margin-bottom: 0;
}

.prescriptions > table {
  margin-bottom: 10px;
}

.diagnoses {
  margin-bottom: 0;
}

.diagnoses > table {
  margin-bottom: 10px;
}
