.form
  .panel.panel-success
    .panel-heading
      %b Antecedentes Personales
    .panel-body
      .row-fluid
        .form-group.col-md-12
          %input.form-control.input-sm.colored{ disabled: 'disabled', value: @patient.anamnesis.medical_history }
        .form-group.col-md-12
          .input-group
            %span.input-group-addon.input-sm Antecedentes Quirúrgicos
            %input.form-control.input-sm.colored{ disabled: 'disabled', value: @patient.anamnesis.surgical_history }
        .form-group.col-md-4
          .input-group
            %span.input-group-addon.input-sm Alergias
            %input.form-control.input-sm.colored{ disabled: 'disabled', value: @patient.anamnesis.allergies }
        .form-group.col-md-4
          .input-group
            %span.input-group-addon.input-sm Observación
            %input.form-control.input-sm.colored{ disabled: 'disabled', value: @patient.anamnesis.observations }
        .form-group.col-md-4
          .input-group
            %span.input-group-addon.input-sm Hábitos
            %input.form-control.input-sm.colored{ disabled: 'disabled', value: @patient.anamnesis.habits }
        .form-group.col-md-12
          .input-group
            %span.input-group-addon.input-sm Audioprótesis
            %input.form-control.input-sm.colored{ disabled: 'disabled', value: @patient.anamnesis.hearing_aids ? "SI" : "NO" }
  .panel.panel-success
    .panel-heading
      %b Antecedentes Familiares
    .panel-body
      .row-fluid
        .form-group.col-md-12
          %input.form-control.input-sm.colored{ disabled: 'disabled', value: @patient.anamnesis.family_history }
        .col-md-12.text-right
          = link_to 'Editar', edit_patient_anamnesis_path(@patient, @patient.anamnesis)

