.form
  .panel.panel-primary
    .panel-heading
      %b Datos de Filiación
    .panel-body
      .row-fluid
        .form-group.col-md-3
          .input-group
            %span.input-group-addon.input-sm Fecha
            - if (@consultation && @consultation.new_record?) || @anamnesis
              %input.form-control.input-sm.colored#current_date{ disabled: 'disabled', value: Date.today }
            - else
              %input.form-control.input-sm.colored#current_date{ disabled: 'disabled', value: @consultation.created_at.strftime("%Y-%m-%d") }
        .form-group.col-md-3
          .input-group
            %span.input-group-addon.input-sm Fecha Nacimiento
            %input.form-control.input-sm.colored{ disabled: 'disabled', value: @patient.birthdate.strftime("%Y-%m-%d") }
        .form-group.col-md-3
          .input-group
            %span.input-group-addon.input-sm # Cédula
            %input.form-control.input-sm.colored{ disabled: 'disabled', value: @patient.identity_card_number }
        .form-group.col-md-3
          .input-group
            %span.input-group-addon.input-sm Historia
            %input.form-control.input-sm.colored{ disabled: 'disabled', value: @patient.medical_history }

      .row-fluid
        .form-group.col-md-6
          .input-group
            %span.input-group-addon.input-sm Apellidos
            %input.form-control.input-sm.colored#patient_last_name{ disabled: 'disabled', value: @patient.last_name }
        .form-group.col-md-6
          .input-group
            %span.input-group-addon.input-sm Nombres
            %input.form-control.input-sm.colored#patient_first_name{ disabled: 'disabled', value: @patient.first_name }

      .row-fluid
        .form-group.col-md-6
          .input-group
            %span.input-group-addon.input-sm Dirección
            %input.form-control.input-sm.colored{ disabled: 'disabled', value: @patient.address }
        .form-group.col-md-3
          .input-group
            %span.input-group-addon.input-sm Teléfono
            %input.form-control.input-sm.colored{ disabled: 'disabled', value: @patient.phone_number }
        .form-group.col-md-3
          .input-group
            %span.input-group-addon.input-sm Fuente
            %input.form-control.input-sm.colored{ disabled: 'disabled', value: @patient.source }

      .row-fluid
        .form-group.col-md-2
          .input-group
            %span.input-group-addon.input-sm Sexo
            %input.form-control.input-sm.colored{ disabled: 'disabled', value: @patient.gender }
        .form-group.col-md-2
          .input-group
            %span.input-group-addon.input-sm Edad
            %input.form-control.input-sm.colored.patient-age{ disabled: 'disabled', value: @patient.age.years }
        .form-group.col-md-4
          .input-group
            %span.input-group-addon.input-sm Estado Civil
            %input.form-control.input-sm.colored{ disabled: 'disabled', value: @patient.civil_status }
        .form-group.col-md-4
          .input-group
            %span.input-group-addon.input-sm Ocupación
            %input.form-control.input-sm.colored{ disabled: 'disabled', value: @patient.profession }
